{{>header}}
<body>
    <div>
        <h1 style="color:Red;">Login/SignUp here</h1>
        <a href="/login" style="text-decoration: none;">Login</a>
        <br>
        <a href="/register" style="text-decoration: none;">Don't Have An Account ?</a>
    </div>
</body>
</html>