{{>header}}
<body>
    <h1 style="color:blue;">Welcome to login Page</h1>
    <form action="/login" method="post">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" name="" value="Login">
    </form>
</body>

</html>