{{>header}}
    <title>Success</title>
</head>

<body>
    <h1>Login Successfully</h1>
    <br>
    <h1>Now here you can design your Website for a User as per the requirement</h1>
</body>

</html>