{{>header}}
<body>
    <div>
        <h1 style="color:rgb(7, 243, 50);">Register here</h1>
        <form action="/register" method="post">
            <p>First Name</p>
            <input type="text" name="firstname" placeholder="Enter FirstName">
            <p>Last Name</p>
            <input type="text" name="lastname" placeholder="Enter LastName">
            <p>Enter Email</p>
            <input type="email" name="email" placeholder="Email-Id" id="">
            <p>Choose password</p>
            <input type="password" name="password" placeholder="New Password" id="">
            <p>Confirm Password</p>
            <input type="password" name="confirmpassword" placeholder="Confirm Password" id="">
            <br>
            <br>
            <input type="submit" name="" value="Register">
        </form>
    </div>
</body>
</html>